body{

    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* background-image: url(img/download.jpg); */
    background-color: antiquewhite;
    /* background-image: cover; */
    background-repeat: no-repeat;
    text-align: center;
    font-weight: bold;
    background-position: center;
    background-size:1000px;
    margin-bottom: 50px;
}

.btn{
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    color:#0a0e27;
    width:150px;
    height:60px;
    background-color: goldenrod;
    border:3px solid white;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 8px;
}
.card1{
    
font-size: 140px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display:inline-block;
}
